/* Tablet & Mobile */
@media (max-width: 63.9375em) {
    .hide-on-mobile-tablet {
        display: none;
    }
}

/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    .hide-on-tablet {
        display: none;
    }

    #nav .subnav a {
        padding: 5px 12px;
    }
}

/* Mobile */
@media (max-width: 46.1875em) {
    .hide-on-mobile {
        display: none;
    }

    #header {
        overflow: hidden;
    }

    #header .mobile-menu-btn {
        display: block;
    }

    #nav {
        display: block;
    }

    #nav > li {
        display: block;
    }

    #nav li a {
        padding: 1px 24px;
    }

    #nav .subnav {
        position: initial;
        background-color: #eee;
    }

    #nav .subnav li {
        border-bottom: 1px solid #ccc;
    }

    #nav .subnav a {
        padding: 5px 41px;
    }

    #content .member-item {
        margin-top: 30px;
    }

    #content .member-img {
        width: 60%;
    }

    #content .places-item {
        margin-top: 30px;
    }

    #content .mobile-btn {
        width: 100%;
        padding: 16px 0;
    }

    #content .contact-form {
        margin-top: 16px;
    }

    #content .contact-email {
        margin-top: 8px;
    }
}